@import "../../node_modules/bootstrap/scss/functions";

:root {
	--bs-color-button: #ffbb42;
	--bs-color-one: #709dca;
	--bs-color-icon: #9aca40;
	--bs-color-title: #394b50;
	--bs-color-text: #868686;
	--bs-color-text-input: #a9a9a9;
}

$my-color: (
	"cl-button": #ffbb42,
	"cl-one": #709dca,
	"cl-icon": #9aca40,
	"cl-icon-input": #6e6e6e,
	"cl-text": #868686,
	"cl-text-input": #a9a9a9,
	"cl-title": #394b50,
);

@import "../../node_modules/bootstrap/scss/variables";

$my-spacers: (
	36: $spacer * 2.25,
	45: $spacer * 2.8125,
);

$theme-colors: map-merge($theme-colors, $my-color);
$spacers: map-merge($spacers, $my-spacers);
// $grid-breakpoints: map-merge($grid-breakpoints, $my-breakpoint);
// $spacers: map-merge($spacer, $custom-spacer);

@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/utilities/api";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/helpers";

@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/tooltip";
